<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We can take your thinking skills to the next level!</h2>
                <hr class="light">
                <p class="text-faded">Thinkertots is a unique program focussed on facilitating the thought process in children. Innovation is born from thinking differently and Thinkertots enables children to stretch their thinking superpower by working on critical , analytical and lateral thinking as well as metacognition.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
